/* 二级超级块 添加边框 */

.protyle-wysiwyg .sb {
    margin: 4px 8px 8px 4px !important;


    & .p {
        margin-left: 10px;
    }
}

.protyle-wysiwyg [data-node-id].sb[data-sb-layout=col] > div {
    margin-right: 0;
}
