
.b3-typography li > p,
.b3-typography > p,
.b3-typography blockquote > p,
.b3-typography [data-node-id],
.protyle-wysiwyg li > p,
.protyle-wysiwyg > p,
.protyle-wysiwyg blockquote > p,
.protyle-wysiwyg [data-node-id] {
    line-height: 26px;
    padding: 2px 2px 0 0;
    margin: 0 0;
    border-radius: var(--b3-border-radius);
}

div.li > div.p > div {
    margin-top: 1px;
}

div.li > div.p[data-type="NodeParagraph"] > div {
    margin-top: 2px;
}

/* 效果: 一级列表 1.  二级列表 1.1  三级列表 1.1.1 */
.list[data-subtype=o] {
    counter-reset: none;
}

.protyle-wysiwyg .li[data-subtype=o] > .protyle-action,
.protyle-wysiwyg .li[data-subtype=o] .li[data-subtype=o] > .protyle-action,
.protyle-wysiwyg .li[data-subtype=o] .li[data-subtype=o] .li[data-subtype=o] > .protyle-action,
.protyle-wysiwyg .li[data-subtype=o] .li[data-subtype=o] .li[data-subtype=o] .li[data-subtype=o] > .protyle-action {
    color: rgba(0, 0, 0, 0) !important;
}

.protyle-wysiwyg .li[data-subtype=o] .li[data-subtype=o] > .protyle-action::after,
.protyle-wysiwyg .li[data-subtype=o] .li[data-subtype=o] .li[data-subtype=o] > .protyle-action::after,
.protyle-wysiwyg .li[data-subtype=o] .li[data-subtype=o] .li[data-subtype=o] .li[data-subtype=o] > .protyle-action::after {
    display: table;
}

.protyle-wysiwyg .li[data-subtype=o] {
    counter-increment: olcounter1;

    & > .protyle-action::after {
        content: counter(olcounter1, -moz-devanagari) ".";
        width: 200px;
        right: 0;
        color: violet;
    }
}

.protyle-wysiwyg .li[data-subtype=o] .li[data-subtype=o] {
    counter-increment: olcounter2;

    & > .protyle-action::after {
        content: counter(olcounter1, -moz-devanagari) "." counter(olcounter2, decimal);
        color: red;
    }
}

.protyle-wysiwyg .li[data-subtype=o] .li[data-subtype=o] .li[data-subtype=o] {
    counter-increment: olcounter3;

    & > .protyle-action::after {
        content: counter(olcounter1, decimal) "." counter(olcounter2, decimal) "." counter(olcounter3, decimal);
        color: greenyellow;
    }
}

.protyle-wysiwyg .li[data-subtype=o] .li[data-subtype=o] .li[data-subtype=o] .li[data-subtype=o] {
    counter-increment: olcounter4;

    & > .protyle-action::after {
        content: counter(olcounter1, decimal) "." counter(olcounter2, decimal) "." counter(olcounter3, decimal) "." counter(olcounter4, decimal);
        color: deepskyblue;
    }
}

.protyle-wysiwyg .li[data-subtype=o] .li[data-subtype=o] .li[data-subtype=o] .li[data-subtype=o] .li[data-subtype=o] {
    counter-increment: olcounter5;

    & > .protyle-action::after {
        content: counter(olcounter1, decimal) "." counter(olcounter2, decimal) "." counter(olcounter3, decimal) "." counter(olcounter4, decimal) "." counter(olcounter5, decimal);
        color: orange;
    }
}
