:root[data-theme-mode=dark] {
    --callout-big-icon-top: 0.35em;
    --callout-small-icon-top: 0.45em;
    --en-img-default-width: 50%;
    --enTimeFontSize: 9px;
    --asri-user-custom-accent: #eebefa;
    --asri-on-primary-reverse: .3;
    --asri-c-factor: 0;
    --asri-c-0: 0;
    --asri-sys-accent: #006fc4;
    --asri-sys-accent-accessible: #006fc4;


    --asri-base-color: var(--asri-user-custom-accent, var(--asri-sys-accent));
    --asri-theme-accent-customized: oklch(from var(--asri-user-custom-accent) .7 .17 h);
    --asri-fallback-accent: #118bff;
    --asri-fallback-background: #1e1e1e;
    --asri-fallback-surface: #383838;
    --asri-fallback-on-background: #dcdcdc;
    --asri-composite-background: oklch(from var(--asri-base-color) .2 calc(.01 * var(--asri-c-factor, 1) * var(--asri-c-0, 1)) h);
    --asri-composite-surface: oklch(from var(--asri-base-color) .29 calc(.015 * var(--asri-c-factor, 1) * var(--asri-c-0, 1)) h);
    --asri-composite-on-background: oklch(from var(--asri-base-color) .89 clamp(0, .01 * var(--asri-c-factor, 1) * var(--asri-c-0, 1), .04) h);
    --b3-theme-primary: oklch(from var(--asri-base-color, var(--asri-fallback-accent)) .65 c h);
    --b3-theme-primary-light: oklch(from var(--b3-theme-primary) l c h / .56);
    --b3-theme-primary-lighter: oklch(from var(--b3-theme-primary) l c h / .38);
    --b3-theme-primary-lightest: oklch(from var(--b3-theme-primary) l c h / .2);
    --b3-theme-accent: var(--asri-theme-accent-customized, oklch(from var(--asri-sys-accent-accessible, oklch(from var(--b3-theme-primary) l 0.2 h)) .65 c h));
    --b3-menu-item-background-hover: oklch(from var(--asri-base-color, var(--asri-fallback-accent)) .6 c h / .7);
    --b3-theme-on-background: var(--asri-composite-on-background, var(--asri-fallback-on-background));
    --b3-theme-on-surface: oklch(from var(--b3-theme-on-background) l c h / .65);
    --b3-theme-surface-light: oklch(from var(--b3-theme-surface) l c h / .5);
    --b3-theme-on-surface-light: oklch(from var(--b3-theme-on-surface) .6 c h / .68);
    --b3-theme-on-primary: oklch(from var(--b3-theme-primary) .99 .01 h);
    --b3-border-color: oklch(from var(--b3-theme-on-background) .34 clamp(0, .009 * var(--asri-c-factor, 1) * var(--asri-c-0, 1), .04) h);
    --b3-border-color-trans: oklch(from var(--b3-theme-on-background) l c h / .15);
    --b3-menu-background: oklch(from var(--b3-theme-background) .25 c h);
    --b3-list-hover: oklch(from var(--b3-theme-on-background) l c h / .08);
    --b3-av-background-hl: color-mix(in srgb, var(--b3-theme-primary) 20%, var(--b3-theme-background));
    --b3-av-hover: oklch(from var(--b3-theme-on-background) .35 .02 h);
    --b3-scroll-color: oklch(from var(--b3-theme-on-background) l c h / .09);
    --b3-scroll-color-hover: oklch(from var(--b3-theme-on-background) l c h / .18);
    --b3-protyle-code-background: oklch(from var(--b3-theme-surface) .4 c h / .6);
    --b3-empty-color: oklch(from var(--b3-theme-on-background) l c h / .45);
    --b3-font-color4: oklch(0.83 0.17 calc(360 / 10 * 1 + 30));
    --b3-font-background4: oklch(0.31 0.05 calc(360 / 10 * 1 + 30));
    --b3-font-color5: oklch(0.83 0.17 calc(360 / 10 * 2 + 30));
    --b3-font-background5: oklch(0.31 0.05 calc(360 / 10 * 2 + 30));
    --b3-font-color6: oklch(0.83 0.17 calc(360 / 10 * 3 + 30));
    --b3-font-background6: oklch(0.31 0.05 calc(360 / 10 * 3 + 30));
    --b3-font-color7: oklch(0.83 0.17 calc(360 / 10 * 4 + 30));
    --b3-font-background7: oklch(0.31 0.05 calc(360 / 10 * 4 + 30));
    --b3-font-color8: oklch(0.83 0.17 calc(360 / 10 * 5 + 30));
    --b3-font-background8: oklch(0.31 0.05 calc(360 / 10 * 5 + 30));
    --b3-font-color9: oklch(0.83 0.17 calc(360 / 10 * 6 + 30));
    --b3-font-background9: oklch(0.31 0.05 calc(360 / 10 * 6 + 30));
    --b3-font-color10: oklch(0.83 0.17 calc(360 / 10 * 7 + 30));
    --b3-font-background10: oklch(0.31 0.05 calc(360 / 10 * 7 + 30));
    --b3-font-color11: oklch(0.83 0.17 calc(360 / 10 * 8 + 30));
    --b3-font-background11: oklch(0.31 0.05 calc(360 / 10 * 8 + 30));
    --b3-font-color12: oklch(0.83 0.17 calc(360 / 10 * 9 + 30));
    --b3-font-background12: oklch(0.31 0.05 calc(360 / 10 * 9 + 30));
    --b3-font-color13: oklch(0.83 0.17 calc(360 / 10 * 10 + 30));
    --b3-font-background13: oklch(0.31 0.05 calc(360 / 10 * 10 + 30));


    --b3-theme-primary: rgb(17, 139, 255);
    --b3-theme-secondary: rgb(198, 126, 44);
    --b3-theme-background: rgb(30, 30, 30);
    --b3-theme-background-light: rgba(30, 30, 30, 0.1);
    --b3-theme-surface: rgb(56, 56, 56);
    --b3-theme-error: rgb(255, 59, 48);
    --b3-theme-on-secondary: #fff;
    --b3-theme-surface-lighter: var(--b3-border-color);
    --b3-theme-on-error: rgba(255, 255, 255, 0.8901960784);
    --b3-border-color: hsl(0, 0%, 26%);
    --b3-menu-background: rgb(50, 50, 50);
    --b3-menu-item-background-hover-text: rgba(255, 255, 255, 0.8901960784);
    --b3-tooltips-color: var(--b3-theme-on-background);
    --b3-tooltips-background: var(--b3-menu-background);
    --b3-mask-background: rgba(0, 0, 0, 0.78);
    --b3-card-error-color: #FFC8BC;
    --b3-card-error-background: #52302B;
    --b3-card-warning-color: #E5DEA0;
    --b3-card-warning-background: #403C1A;
    --b3-card-info-color: #9AEAF8;
    --b3-card-info-background: #233D53;
    --b3-card-success-color: #C1E8B4;
    --b3-card-success-background: #2D4126;
    --b3-font-color1: #FFF;
    --b3-font-background1: rgba(0, 0, 0, 0);
    --b3-font-color2: #AEAEAE;
    --b3-font-background2: #3A3A3A;
    --b3-font-color3: #ECCEB3;
    --b3-font-background3: #3E3A35;
    --b3-font-color4: #FFC168;
    --b3-font-background4: #5E3808;
    --b3-font-color5: #E8D754;
    --b3-font-background5: #4B4400;
    --b3-font-color6: #A2EB88;
    --b3-font-background6: #2C4C20;
    --b3-font-color7: #45F3CC;
    --b3-font-background7: #004F3F;
    --b3-font-color8: #01EFFF;
    --b3-font-background8: #004D59;
    --b3-font-color9: #79DDFF;
    --b3-font-background9: #16466A;
    --b3-font-color10: #C5C7FF;
    --b3-font-background10: #3C3C6B;
    --b3-font-color11: #FDB4FF;
    --b3-font-background11: #54345D;
    --b3-font-color12: #FFADDA;
    --b3-font-background12: #632E46;
    --b3-font-color13: #FFB09B;
    --b3-font-background13: #663028;
    --b3-protyle-inline-link-color: #8ab4f8;
    --b3-protyle-inline-mark-background: rgba(0, 217, 89, 0.3921568627);
    --b3-graph-p-point: #a188fd;
    --b3-graph-heading-point: #ef6b9a;
    --b3-graph-math-point: #24a5ff;
    --b3-graph-code-point: #6a9bff;
    --b3-graph-table-point: #0abc71;
    --b3-graph-list-point: #82b025;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #00b89f;
    --b3-graph-bq-point: #de8700;
    --b3-graph-super-point: #a2a700;
    --b3-graph-doc-point: var(--b3-theme-on-background);
    --b3-graph-tag-point: #ef7747;
    --b3-graph-line: var(--b3-border-color-trans);
    --b3-graph-ref-line: var(--b3-theme-primary-light);
    --b3-graph-hl-point: #ff5799;
    --b3-graph-hl-line: #ff5799;
}
