body {
    background-image: url('public/background/frosted_win.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 透明化工作区 */
.layout-tab-container, /* 编辑区 */
.protyle, /* 大纲, 文档树 */
.protyle-breadcrumb, /* 面包屑 */
.fn__flex-column[data-type=wnd] > .fn__flex:first-child /* 标签页栏 */
{
    background-color: #00000000 !important;
}
